<!doctype html>
<html>
    <head>
        <title> centered box</title>
        <style>
            body
            {
                height:100%;
                margin:0;
                display:flex;
                justify-content: center;
                align-items:center;
                background-color:antiquewhite;
            }
           
           .box 
           {
            width:300px;
            padding:20px;
            background-color: white;
            box-shadow: 0px 4px 8px;
            text-align: center;
            border-radius: 10px;
           }